
.card {
    width:300px;
    height:300px;
    padding:5px;
    border-radius:25px;
    background: #aa21ff;
    box-shadow: 0px 0px 15px ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
    
}

.review{
    
    position:relative;
    top: 400px;
    left: 30%;
    text-align:center;
    width: 300px;
    height: 110px;
    max-height: fit-content;
    border: 2px solid black;
    margin: 5px;
    border-radius: 15px;
    font-size: small;
    margin-bottom: 5px;
    
}
.btn-hide{
    position: absolute;
    
}

.update{

    width: 100px;
}